* {
  font-size: 10px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* --------------------------navigation-bars----------------------------------------------------------- */

.dash-nav {
  width: 40vmin;
  height: 100vh;
  background: rgba(0, 0, 0, 0.911);
  padding: 5vh 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dash-logo {
  width: 100%;
  padding: 0vh 4vw;
}

.dash-nav-items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vw 0vw;
  gap: 2rem;
}

a {
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 29.5vmin;
  height: 6.5vmin;
  padding: 0.5vh 0.5vh;
  padding-left: 2.5vw;
  font-family: Poppins;
  font-size: 2.5vmin;
  font-style: normal;
  font-weight: 300;
  gap: 1.4vw;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease, color 0.4s ease-in-out;
}

/* a:hover {
    background-color: #FFF;
    color: rgba(0, 78, 146, 0.89);
} */

.active {
  background-color: #fff;
  color: rgba(0, 78, 146, 0.89);
  font-weight: 700;
}

.active svg path {
  stroke: #004e92;
  width: 1vw;
}

/* a:hover svg path {
    stroke: #004E92
} */

svg {
  width: 1.6vw;
}

.logout-div {
  height: 20%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.logout-div button {
  border-radius: 0.5vmin;
  background: rgba(0, 78, 146, 0.89);
  height: 6vmin;
  width: 29vmin;
  background: #004e92;
  border: none;
  color: #fff;
  font-family: Poppins;
  font-size: 2.5vmin;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: background-color 0.3s ease;
}

.logout-div button:hover {
  background-color: #004e9280;
  cursor: pointer;
}

/* dashbord content */

:root {
  --bg: linear-gradient(
    180deg,
    rgba(0, 4, 40, 0.89) 1.59%,
    rgba(0, 78, 146, 0.89) 100%
  );
  --blue: rgba(0, 78, 146, 0.89);
  --green: rgba(0, 148, 118, 0.89);
  --white: #d9d9d9;
  --black: rgba(0, 0, 0, 0.8);
}

.dashboard-main-container {
  height: 100%;
  width: 81%;
  background: var(--bg);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upper-part {
  height: 13%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30rem;
  padding-top: 2rem;
}

.post-buy-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.post-buy-btn h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: Poppins;
  font-size: 1.35rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.post-buy-btn h1 span {
  color: #fbbc05;
  font-family: Poppins;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.post-buy-btn img {
  width: 50px;
}

.dashboard-heading {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dashboard-heading h1 {
  color: #8c8c8c85;
  font-family: Poppins;
  font-size: 3.8vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10%;
}

.midd-part {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px 70px;
  gap: 4rem;
}

.dashboard-baners {
  height: 90%;
  width: 23.5%;
  border-radius: 1.25rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.dashboard-baners h1 {
  font-size: 1.7vw;
  color: #000;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 90%;
  line-height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.dashboard-baners h1 span {
  color: rgba(0, 78, 146, 0.89);
  font-family: Poppins;
  font-size: 5vw;
  font-style: normal;
  font-weight: bold;
  line-height: 180%;
}

/* lower parts */

.lower-part {
  height: 58%;
  width: 100%;
  display: flex;
  padding: 1.5vw 4vw;
  align-items: center;
  flex-direction: column;
}

.lower-part-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 5%;
  border-radius: 1.25rem;
  background-color: var(--black);
  overflow-y: scroll;
  padding: 20px;
}

.lower-part label {
  padding-bottom: 12px;
  color: #fff;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
}

.lower-part table {
  border-collapse: collapse;
  width: 100%;
}

.lower-part table th {
  color: #fff;
  border: 0.5px solid #545b6d;
  border-width: 0 0 1px 0;
  font-size: 1vw;
  padding: 12px;
  text-align: center;
}

.lower-part table td {
  color: #ffffffbd;
  border: 0.5px solid #545b6d;
  border-width: 0 0 1px 0;
  font-size: 1vw;
  padding: 12px;
  padding-top: 30px;
  text-align: center;
}

/* ----------------------------Student Profile---------------------------------------------- */

#large-lower-part {
  height: 100%;
}

#remove-scroll {
  overflow: hidden;
}

#inner-up {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#cam-icon {
  background-color: #fff;
  border-radius: 100%;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cam-icon img {
  width: 50%;
}

#inner-input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#inner-input-box label {
  padding: 0px;
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#inner-input-box input {
  width: 40.5625rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 2px solid rgba(0, 78, 146, 0.89);
  background-color: transparent;
}

#mid-container {
  height: 55%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0px 40px;
  gap: 6rem;
}

#inner-left {
  height: 100%;
  width: 100%;
}

#inner-right {
  height: 100%;
  width: 100%;
}

#inner-left,
#inner-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#inner-left input,
#inner-right input {
  width: 40.5625rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 2px solid rgba(0, 78, 146, 0.89);
  background-color: transparent;
}

#inner-left label,
#inner-right label {
  padding: 0px;
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#lower-container {
  height: 23%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 40px;
}

#lower-container label {
  padding: 0px;
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#lower-container textarea {
  height: 9rem;
  width: 100%;
  border-radius: 0.625rem;
  border: 2px solid rgba(0, 78, 146, 0.89);
  background-color: transparent;
  outline: none;
  padding: 1rem;
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input[type="text"]:focus {
  outline: none;
  padding: 1rem;
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.post-buy-btn button {
  width: 13rem;
  height: 3.375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #ea4335;
  border: none;
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#inner-right button {
  width: 40.5625rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background-color: var(--blue);
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

/*--------------------------------- edit Profile--------------------------- */

#student-lower-container {
  height: 200vw !important;
  background-color: red !important;
}

#large-lower-part-edit-profile {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
}

#large-lower-part-edit-profile .lower-part-container {
  height: 100%;
}

.lower-buttons {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.lower-buttons button {
  width: 13rem;
  height: 3.375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.lower-buttons button:nth-child(1) {
  background-color: #ea4335;
}

.lower-buttons button:nth-child(2) {
  background-color: #34a853;
}

#cam-icon2 {
  background-color: #fff;
  border-radius: 100%;
  height: 100%;
  width: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cam-icon2 img {
  width: 5rem;
}

/* ----------------------------------Job Details */

#inner-right select {
  width: 40.5625rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 2px solid rgba(0, 78, 146, 0.89);
  background-color: transparent;
  padding: 1rem;
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#inner-right option {
  font-family: Poppins;
  font-size: 1.5625rem;
  background-color: rgb(12, 12, 12);
}

#inner-right select:focus {
  outline: none;
}

#count {
  justify-content: right;
  display: flex;
}

#count {
  font-size: 1rem;
  font-weight: 300;
}

/* ---------------------------job applied lower-------------------------------- */

#job-applied-lower {
  height: 90%;
}

.lower-part-container div {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 33px;
}

.lower-part-container div h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -30px;
}

.lower-part-container div input {
  width: 30.5625rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  border: 2px solid rgba(0, 78, 146, 0.89);
  background-color: transparent;
  padding: 1rem;
  color: #fff;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -30px;
}

::placeholder {
  color: #fff;
  font-weight: 500;
}
