@media screen and (max-width: 600px) {
  /* _________________________NAVIGATION_BARS__________________________________ */
  * {
    scroll-behavior: smooth;
  }

  #navigationContainer {
    top: 0;
    opacity: 0;
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 0, 0.911);
    padding: 3rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    overflow-x: scroll;
    backdrop-filter: blur(5px);
    transition: width 0.2s ease, opacity 0.2s ease;
  }

  #bars {
    display: block;
    padding-left: 20px;
    color: rgba(0, 78, 146, 0.89);
  }

  #bars:hover {
    color: rgb(6, 6, 25);
  }

  /* _________________________COMPANY_DASHBOARD_CONTAINER_______________________________ */

  body {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background: linear-gradient(
      180deg,
      rgba(0, 4, 40, 0.89) 1.59%,
      rgba(0, 78, 146, 0.89) 100%
    );
  }
  .dashboard-main-container {
    width: 100%;
    /* height: 100%; */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* overflow: scroll; */
  }

  .upper-part {
    top: 0;
    padding-top: 0px;
    background: linear-gradient(
      180deg,
      rgba(1, 4, 31, 0.89) 1.59%,
      rgba(3, 28, 46, 0.89) 100%
    );
    height: 7rem;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0px;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 999;
  }

  .dashboard-heading {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .dashboard-heading h1 {
    color: #8c8c8c85;
    font-family: Poppins;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    display: flex;
    padding-left: 15px;
  }

  .post-buy-btn {
    width: 70%;
    height: 100%;
    justify-content: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6%;
    padding: 0px 15px;
  }

  #post,
  #buy {
    background-color: var(--blue);
    width: 100%;
    height: 50%;
    color: #fff;
    font-family: Poppins;
    font-size: 3.1vw;
    font-style: normal;
    font-weight: 500;
    border-radius: 5px;
    border: none;
  }

  #buy {
    background-color: var(--green);
  }

  .midd-part {
    margin-top: 10rem;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    gap: 2rem;
    padding: 15px;
  }

  .dashboard-baners {
    width: 70%;
    height: fit-content;
    border-radius: 1.25rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5rem 0px;
  }

  .dashboard-baners h1 {
    line-height: 7rem;
    font-family: Poppins;
    font-style: normal;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  #main-span {
    font-size: 8vw;
    padding: 0px 0rem;
    color: #000;
    line-height: 100%;
  }

  .dashboard-baners h1 span {
    color: rgba(0, 78, 146, 0.89);
    font-family: Poppins;
    font-size: 15vw;
    font-weight: bold;
    padding: 0px 0px;
    border: none;
  }

  .lower-part {
    height: 50rem;
    width: 100%;
    display: flex;
    padding: 10px 15px;
    align-items: center;
    flex-direction: column;
  }

  .lower-part-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 5%;
    border-radius: 1.25rem;
    background-color: var(--black);
    padding: 20px;
    overflow: scroll;
  }

  .lower-part label {
    font-size: 3.5vw;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
  }

  .lower-part table {
    border-collapse: collapse;
    width: 70rem;
    margin-left: 35rem;
  }

  .lower-part table th {
    color: #fff;
    border: 0.5px solid #545b6d;
    border-width: 0 0 1px 0;
    font-size: 3vw;
    font-weight: 500;
    padding: 12px;
    text-align: center;
  }

  .lower-part table td {
    color: #ffffffbd;
    border: 0.5px solid #545b6d;
    border-width: 0 0 1px 0;
    font-size: 3vw;
    padding: 12px;
    padding-top: 30px;
    text-align: center;
  }

  /* _______________________________COMPANY-PROFILE______________________________________ */

  #p-dashboard h1 {
    line-height: 7rem;
    font-family: Poppins;
    font-style: normal;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }

  #p-dashboard-button {
    display: flex;
    justify-content: center;
    padding: 0px 18px;
    width: 30%;
  }

  #p-dashboard-button button {
    width: 100%;
    height: 8vw;
    font-size: 3.5vw;
  }

  .profile-lower-part {
    height: 90%;
    width: 100%;
    display: flex;
    padding: 1.5vw 4vw;
    align-items: center;
    flex-direction: column;
  }

  .profile-lower-part-container {
    height: 97%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 5%;
    border-radius: 1.25rem;
    background-color: var(--black);
    padding: 20px;
    margin-top: 7rem;
  }

  .profile-lower-part label {
    font-size: 2vw;
    color: #fff;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
  }

  .profile-logo {
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .profile-logo div {
    border-radius: 9.4375rem;
    background: #d9d9d9;
    width: 9.4375rem;
    height: 9.4375rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .profile-logo div img {
    width: 45%;
  }

  .profile-lower-part-container .left-right-pack {
    width: 100%;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .profile-lower-part-container .left,
  .profile-lower-part-container .right {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0% 4%;
  }

  .profile-lower-part-container .left input,
  .profile-lower-part-container .right input {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    border: 2px solid rgba(0, 78, 146, 0.89);
    background-color: transparent;
    margin-bottom: 5%;
    color: #fff;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    padding-left: 1rem;
    padding: 8px 0px;
  }

  .profile-lower-part-container .left input:focus,
  .profile-lower-part-container .right input:focus {
    outline: none;
  }

  .profile-lower-part-container .left input:hover,
  .profile-lower-part-container .right input:hover {
    cursor: default;
  }

  /* ______________________________COMPANY-EDIT-PROFILE_________________________________ */

  .heading-container-without-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    padding: 0px 0px;
  }

  .heading-container-without-btn h1 {
    color: #8c8c8c85;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0px 20px;
  }

  #form-for-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 88vh;
    width: 100%;
    margin-top: -0px;
  }

  .edit-upload-pic-company-name {
    width: 95%;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0%;
    padding: 0px 0px;
  }

  .edit-upload-pic-company-name .upload-pic {
    border-radius: 9.4375rem;
    background: #d9d9d9;
    width: 8.4375rem;
    height: 8.4375rem;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .upload-pic label {
    color: #000;
    font-family: Poppins;
    width: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
  }

  .upload-pic img {
    width: 20%;
  }

  .edit-upload-pic-company-name .upload-pic input {
    opacity: 0;
    background-color: var(--white);
    border-radius: 100%;
    position: absolute;
  }

  .input-company-name {
    width: 100%;
    height: 20vw;
    padding: 0px 0px;
  }

  .edit-upload-pic-company-name input[type="text"] {
    width: 100%;
    height: 5vh;
    border-radius: 0.625rem;
    border: 2px solid rgba(0, 78, 146, 0.89);
    background-color: transparent;
    margin-bottom: 10%;
    color: #fff;
    font-family: Poppins;
    font-size: 4vw;
    padding: 0px;
    font-style: normal;
    font-weight: 500;
    padding-left: 0rem;
  }

  .edit-left-right-pack .left {
    gap: 0rem;
    width: 100%;
    height: 40%;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0% 0%;
  }

  .edit-left-right-pack .right {
    gap: 0rem;
    width: 100%;
    height: 50%;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0% 0%;
    margin-top: 2rem;
  }

  .edit-left-right-pack .left input,
  .edit-left-right-pack .right input {
    height: 5vh;
    width: 100%;
    border-radius: 0.625rem;
    border: 2px solid rgba(0, 78, 146, 0.89);
    background-color: transparent;
    margin-bottom: 2rem;
    color: #fff;
    font-family: Poppins;
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    padding-left: 0rem;
  }
  .profile-lower-part-container .edit-left-right-pack {
    width: 95%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }

  .cancel,
  .submit {
    height: 10vw !important;
    width: 20vw !important;
    font-size: 3.5vw !important;
  }

  .edit-profile-btn {
    justify-content: center;
    margin-top: -5rem;
    height: 8rem;
    align-items: start;
  }
}
